/*Estilos*/
/*Selector universal*/
*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    padding: 60px;
  
}


input{
    color: grey;
    font-size: 1.2rem;
    width:100%;
}


/*Para el div una clase llamada card*/

.card-grid{
    display:flex;
    flex-direction: row; /*dirección del flex*/
    flex-wrap: wrap; /*Ajuste*/
}



.card{
    align-content: center; /*Alineación al centro*/
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden; /*Para que los bordes de las imágenes no se salgan del contenedor*/
    
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 170px;
}